@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "geeko";
  src: url("/Fonts/geeko.ttf");
}
@layer base {


  .container-wrapper {
    @apply max-w-[1224px] w-[90%] mx-auto;
  }
}

.font-geeko {
  font-family: "geeko";
}

body{
  background-color: #000206;
color: #fff;
  font-family: "geeko";
}

.hero-bg{
  background-image: url('/images/hero-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  background-position-y: 35%;
}

.bg-t{
  background-image: url('../public//images/bg-blue.png');
 height: 20rem;




}

.bg-sec{
  background-image: url('../public/images/bg-big.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 100%;
}
.text-bg{
  background: linear-gradient(180deg, #8F01FF 0%, #FE5FAC 73.33%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

#brand {
	filter: grayscale(100%); opacity :0.45;
	
}

#brand:hover{
	filter: grayscale(0%); opacity: 1;
  background-image: url('../public/images/glow.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}


/* KEYFRAMES */

@-webkit-keyframes animateCloud {
  0% {
      margin-left: -1000px;
  }
  100% {
      margin-left: 100%;
  }
}

@-moz-keyframes animateCloud {
  0% {
      margin-left: -1000px;
  }
  100% {
      margin-left: 100%;
  }
}

@keyframes animateCloud {
  0% {
      margin-left: -1000px;
  }
  100% {
      margin-left: 100%;
  }
}

/* ANIMATIONS */

.x1 {
-webkit-animation: animateCloud 35s linear infinite;
-moz-animation: animateCloud 35s linear infinite;
animation: animateCloud 35s linear infinite;

-webkit-transform: scale(0.65);
-moz-transform: scale(0.65);
transform: scale(0.65);
}

.x2 {
	-webkit-animation: animateCloud 20s linear infinite;
	-moz-animation: animateCloud 20s linear infinite;
	animation: animateCloud 20s linear infinite;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x3 {
	-webkit-animation: animateCloud 30s linear infinite;
	-moz-animation: animateCloud 30s linear infinite;
	animation: animateCloud 30s linear infinite;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

.x4 {
	-webkit-animation: animateCloud 18s linear infinite;
	-moz-animation: animateCloud 18s linear infinite;
	animation: animateCloud 18s linear infinite;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x5 {
	-webkit-animation: animateCloud 25s linear infinite;
	-moz-animation: animateCloud 25s linear infinite;
	animation: animateCloud 25s linear infinite;
	
	-webkit-transform: scale(0.55);
	-moz-transform: scale(0.55);
	transform: scale(0.55);
}
.floating {
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

@media (max-width:768px) {
  .hero-bg{
    background-image: url('/images/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    background-position-x: 35%;
  }
}